@using AttorneyJournal.Data
@model AttorneyJournal.Controllers.CustomerController.TablePagination<CreateClientViewModel>

@{
	ViewBag.Title = "Client Administration";
	Layout = "_Layout";
}

<div class="page-header">
	<h2>
		Client Administration<br />
		@*<small>You can manage existent and new clients associated with you</small>*@
	</h2>

	@*<ol class="breadcrumb">
		<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
		<li>Client</li>
	</ol>*@

</div>

<div class="panel panel-default">

	<div class="panel-heading text-right">
		<a class="btn btn-sm btn-success @(User.IsInRole(CommonConstant.AttorneyRole) ? "" : "hidden")" href="@Url.Action("AssignCustomerToMe")">Add New Client <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	</div>

	<table id="dataTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="text-center" style="width: 140px;">Date of Accident</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				@if (User.IsInRole("Administrator"))
				{
					<th>Attorney</th>
				}
				<th class="text-center" style="width: 200px;">Options</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Lists)
			{
				<tr style="background-color: @(string.IsNullOrWhiteSpace(item.Id)?"#fcf8e3 !important":"");">
					<td class="text-center" scope="row">
						@if (item.CreatedAt.HasValue)
						{
							@Html.Raw(item.CreatedAt.Value.ToLocalTime().Date.ToString("MM/dd/yyyy"))
						}
					</td>
					<td>@item.Name</td>
					<td>@item.Surname</td>
					<td>@item.Email</td>
					@if (User.IsInRole(CommonConstant.AdministratorRole))
					{
						<td>@item.AssignedToAttorney</td>
					}
					<td style="text-align: center;">
						<b>@(string.IsNullOrWhiteSpace(item.Id) ? "Not yet registered" : "")</b>
						<a class="btn btn-xs btn-info @(string.IsNullOrWhiteSpace(item.Id) ? "hidden" : "")" href="@Url.Action("ViewTimeline", new {id = item.Id})" title="View TimeLine">
							See Timeline
						</a>
						<a data-device-token="@item.Id" class="btn-push btn btn-xs btn-success @(string.IsNullOrWhiteSpace(item.Id) ? "hidden" : "")" title="Send a Push">
							Send Push Notifications
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Send Push Notification</h4>
				</div>
				<div class="modal-body">
					<textarea id="pushMessage" class="form-control" rows="6"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="sendPushBtn" type="button" class="btn btn-success" data-dismiss="modal">Send</button>

				</div>
			</div>
		</div>
	</div>

	@section Scripts
	{
		<script>

			$(function () {

				$(document).ready( function () {
    				$('#dataTable').DataTable();
				});

				$(document).on('click', '.btn-push', function (e) {
					var clicked = $(e.target).is('a') ? $(e.target).data('device-token') : $(e.target).closest('a').data('device-token');
					$('#sendPushBtn').attr('data-device-token', clicked); // here asign the image to the modal when the user click the enlarge link
					$('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
				});

				$(document).on('click', '#sendPushBtn', function (e) {
					e.preventDefault();

					var deviceToken = $('#sendPushBtn').attr('data-device-token');
					console.log($('#sendPushBtn'));

					waitingDialog.show('Sending, please wait...');

					$.post('Customer/SendPushNotification', { UserId: deviceToken, Message: $('#pushMessage').val() }, function (data) {
						if (data.result == false) alert("Notification Push not sent");
						$('#pushMessage').val('');
						waitingDialog.hide();
					});
				});
			});
		</script>
	}

</div>
